.headeriframe {
    height: 220px;
    margin-bottom: -4px;
    background-color: #13092d;
}

#pspgif {
    aspect-ratio: 4 / 3;
    height: 125px;
}

:root {
    --header-image: url('../img/banner.jpg');
    --body-bg-image: url('../img/background.png');

    /* colors */
    --content: #43256E;
}

body {
    font-family: Verdana, arial, sans-serif;
    margin: 0;
    background-color: #08031A;
    background-size: 65px;
    color: #fceaff;
    background-image: var(--body-bg-image);
}

* {
    box-sizing: border-box;
}

#container {
    max-width: 900px;
    margin: 0 auto;
}

#container a {
    color: #ED64F5;
    font-weight: bold;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

#flex {
    display: flex;
}

main {
    min-height: 500px;
}

aside {
    background-color: #241445;
    width: 200px;
    padding: 20px;
    font-size: smaller;
}

main {
    background-color: #43256E;
    flex: 1;
    padding: 20px;
    order: 2;
}

*/ #leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}

footer {
    background-color: #13092D;
    width: 100%;
    height: 100px;
    padding: 10px;
    text-align: center;
}

h1, h2, h3 {
    color: #ED64F5;
}

h1 {
    font-size: 25px;
}

strong {
    color: #ED64F5;
}

.box {
    background-color: #13092D;
    border: 1px solid #ED64F5;
    padding: 10px;
}

@media only screen and (max-width: 847px) {
    #footer {
        height: 128px;
    }
}

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
        height: 375px;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}
